<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/pages.scss">
    <link rel="shortcut icon" href="./public/icons/favicon.ico" type="image/x-icon">
    <title>Riwi Weather | Cities</title>
</head>

<body>
    <header>
        <section class="headerTitle-container">
            <h1 class="headerTitle">Riwi Weather</h1>
        </section>
        <nav>
            <ul class="nav-list">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./city.html">Cities</a></li>
                <li><button id="logout-btn">Log out</button></li>
            </ul>
        </nav>
    </header>
    <main class="addCity-main">
        <h2 class="addCity-title">Add a City</h2>
        <section class="form-container">
            <form id="addCity-form" action="">
                <input type="text" class="addCity-input" id="new-city" placeholder="Ciudad" />
                <input type="text" class="addCity-input" id="new-country" placeholder="País" />
                <textarea class="addCity-textarea" id="newCity-description"
                    placeholder="Descripción del análisis..."></textarea>
                <div class="button-container">
                    <button type="submit" class="addCity-button">Add</button>
                </div>
            </form>
        </section>
    </main>
    <script type="module" src="../city.ts"></script>
    <script type="module" src="../logout.ts"></script>
</body>

</html>