<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/pages.scss">
    <link rel="shortcut icon" href="./public/icons/favicon.ico" type="image/x-icon">
    <title>Riwi Weather | Home</title>
</head>

<body>
    <header>
        <section class="headerTitle-container">
            <h1 class="headerTitle">Riwi Weather</h1>
        </section>
        <nav>
            <ul class="nav-list">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./city.html">Cities</a></li>
                <li><button id="logout-btn">Log out</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome to Riwi Weather</h2>
        <p>Welcome to Riwi Weather, the best way to check the weather in your favorite city.</p>
    </main>
    <footer></footer>
    <script type="module" src="../home.ts"></script>
    <script type="module" src="../logout.ts"></script>
</body>

</html>